@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://db.onlinewebfonts.com/c/bf8e6666252f4d6e781c1afacd6fb995?family=Posterama+1927');
@import url('https://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy-Regular');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 15px;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #2A2A2A;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#272727, #4C00FF,#2a2a2a);
  border-radius: 7px;
}

h1,h2,h3,h5{
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.sect1 {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  /* border: 2px solid white; */
  background-color: #2a2a2a;
  
}

header {
  z-index: 100000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  top: 0;
  left: 0;
  
  /* border: 2px solid white; */
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 0.01px 10px 0 black;
  width: 100%;
  font-family: Poppins;
  backdrop-filter: blur(30px);
  transition: 0.9s;
}
.portfolio {
  position: relative;
  margin-left: 80px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Posterama 1927";
  text-decoration: none;
  color: #4C00FF;
}
.portfolio:hover{
  color: #4C00FF;
}

.nav a {
  position: relative;
  display: flex;
  align-self: center;

  padding: auto;
  margin-left: 20px;
  text-decoration: none;
  font-family: "Gilroy-Regular";
  letter-spacing: 0.5px;
  color: #DEE2E6;
}

.nav a:hover{
  font-weight: 600;
  color: #4C00FF;
}

.nav a:active{
  color: #4C00FF;
}

header .nav button {
  position: relative;
  width: 100px;
  height: 40px;
  margin: auto 70px auto 20px;

  color: #4C00FF;
  font-weight: 500;
  font-size: 13.5px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;

  background: none;
  border: 2px solid #4C00FF;
  overflow: hidden;
 
}

header .nav button::before{
  content: "";
  position: absolute;

  top: 0;
  border-radius: 0 0 50% 50%;
  left: 0;
  width: 100%;
  height: 0%;
  background: #4C00FF;
  z-index: -1;
  transition: 0.8s;
}

header .nav button:hover::before{
  height: 180%;
}
header .nav button:hover {
 color: #fff;
 text-decoration: none;
 scale: 1.03;
}

header .nav button:active {
  scale:0.95;
}

.sect2 {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.blur {
  position: absolute;
  z-index: 50;
  width: 90%;
  height: 80%;
  margin: auto;
  top: 80px;
  color: #DEE2E6;
  /* border: 2px solid red; */
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid orange; */
  margin-right: 50px;
}

.name .first-line{
  display: flex;
  align-items: end;
  margin-top: 50px;
  
}

.name .hello {
  position: relative;
  font-weight: 500;
  font-size: 35px;
  font-family: "Gilroy-Regular";
  margin-left: 50px;
  /* border: 2px solid white; */
}


.name h1 {
  position: relative;
  font-size: 40px;
  font-family: "Posterama 1927";
  font-weight: 600;
  color: #4C00FF;
  /* border: 2px solid white; */
}

.name .multitext {
  position: relative;
  font-weight: 500;
  font-size: 35px;
  font-family: "Gilroy-Regular";
  margin-left: 50px;  
}

         
.CVbutton {
  position: relative;
  width: 27%;
  margin-top: 15px;
  margin-left: 60px;
  padding: 12px;
  
  background: none;
  color: #4C00FF;
  font-family: "Posterama 1927";  
  font-size: 14px;
  font-weight: 600;        
  /* text-align: center; */
 
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid #4C00FF;
  border-radius: 50px;
  overflow: hidden;
  transform-style: preserve-3d;
}


.CVbutton::before{
  content: "";
  position: absolute;
   bottom: 0;
  border-radius: 50% 50% 0 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #4C00FF;
  z-index: -1;
  transition: 0.8s;
}

.CVbutton:hover {
  color: #fff;
  text-decoration: none;  
  scale: 1.03;
}


.CVbutton:hover::before{
  height: 180%;
}


.CVbutton:active {
  scale: 0.95;
}

.btns{
  display: flex;
  flex-direction: row;
  
  
}

.img {
  animation-name: black;
  animation-duration: 1s;
  animation-delay: 0;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  /* border: 2px solid lawngreen; */

  position: relative;
  margin-left: 155px;
  height: 70%;
  transform-style: preserve-3d;
}

.img .mypic {
  position: relative;
  height: 100%;
}

@keyframes black {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1.01);
  }
}

.sect3 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  top: 100vh;

  background-color: #2a2a2a;
  overflow: hidden;
}

.box {
  position: relative;
  margin-top: 60px;
  width: 90%;
  height: 80%;

  background-color: black;
  border-radius: 50px;
  
  display: flex;
  flex-direction: row;
  transform-style: preserve-3d;
  transition: 0.2s;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}
.box:hover{
  scale: 0.9;
}
.box:active{
  scale: 1;
}

.picture {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 2px solid palevioletred; */
  
 
  display: flex;
  justify-content:flex-start;
  align-items: center;
  transform-style: preserve-3d;
 
}
.my-pic {

  animation-name: black;
  animation-duration:1s;
  animation-delay: 0;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;

  position: relative;
  height: 70%;
  margin-left: 20px;
  /* border: 2px solid lawngreen; */
}


.about {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  transform-style: preserve-3d;
}

.abouttext {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
  margin-left: 80px;
  margin-right: 10px;
  border-right: 2px solid #440acc;
}

.abouttext h2{
  font-weight: 600;
  font-size: 50px;
  font-family: "Posterama 1927";
  /* margin-top:90px ; */
  color: #4C00FF;
  }
.abouttext h6{
  font-size: 25px;
  font-family: "Posterama 1927";
  color: #DEE2E6;
}
.p-tag{
  text-align: end;
  font-size: 15px;
  color: #DEE2E6;
  font-family: Poppins;
}

.sect4{
  position: relative;
  width: 100%;
  height: 100vh;
  /* border: 2px solid fuchsia; */

  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
  background-color: #2a2a2a;
  overflow: hidden;

}

.sect4 .block4{
  position: relative;
  width: 90%;
  height: 85%;
  margin-top: 60px;
  /* border: 2px solid burlywood; */

  display: flex;
  flex-direction: column;
}

.cert-cards-block{
  position: relative;
  width: 100%;
  height: 90%;
  /* border: 2px solid lawngreen; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cert-card{
  position: relative;
  width: 250px;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.906);
  overflow: hidden;
  margin-left: 20px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.2s;
}

.cert-card:active{
  scale: 0.9;
}

.cert-card:hover .cert-card-body{
  top: 0;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.cert-card-body{
  width: 100%;
  height: 100%;
  top: 100%;
  right: 0;
  padding: 25px;
  border-radius: 15px;
  position: absolute;
  color: white;
  background: #4e4e4e95;
  backdrop-filter: blur(5px);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cards-btn{
  position: relative;
  color: #DEE2E6;
  background: #333;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: 0.5s;
  overflow: hidden;
  border: none;
}

.cards-btn::before{
  content: "";
  position: absolute;
   bottom: 0;
  border-radius: 50% 50% 0 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #4C00FF;
  z-index: -1;
  transition: 0.7s;
}

.cards-btn:hover {
  color: #DEE2E6;
  text-decoration: none;  
  scale: 1.03;
}

.cards-btn:hover::before{
  height: 180%;
}

.text-cert{
  position: relative;
  width: 100%;
  height: 20%;
  /* border: 2px solid red; */
  font-family: "Posterama 1927";
  display: flex;
  justify-content:center;
  align-items:flex-end; 
}
.text-cert h1{
  font-weight: 600;
  color:#4C00FF;
  margin: 0;
}

.cards{
  width: 100%;
  height: 90%;
  border: 2px solid hotpink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sect5{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  top: 200vh;
  /* border: 2px solid lawngreen; */

  background-color: #2a2a2a;
  overflow: hidden;
}

.pro-block{
  position: relative;
  width: 90%;
  height: 85%;
  margin-top: 60px;
  border: 2px solid burlywood;

  display: flex;
  flex-direction: row;
}

.text-pro{
  position: relative;
  width: 50%;
  height: 100%;
  border: 2px solid red;
  font-family: "Posterama 1927";
  
  display: flex;
  justify-content:center;
  align-items:center;
}

.text-pro h1{
  font-weight: 600;
  font-size: 50px;
  color: #4C00FF;
}

.pro-cards{
  width: 50%;
  height: 100%;
  border: 2px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-header{
  font-family: "Gilroy-Regular";
}
.card-body{

  background-color: #272727;
border: 1.5px solid #DEE2E6;

}
.card-title{
  
  color: #DEE2E6;
}
.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: auto;
  color: #DEE2E6;
}

.sect6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100vh;
  top: 300vh;
  /* border: 2px solid blue; */
  background-color: #2a2a2a;
  overflow: hidden;
}

.block-contact{
  position: relative;
  width: 90%;
  height: 80%;
  margin-top: 70px;
  border-bottom: 2px solid #4e4e4e;
  color: #DEE2E6;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  
}

.address-social{
  width: 50%;
  height: 100%;
  /* border: 2px solid #ff0062; */
  display: flex;
  flex-direction: column;

}
.address-social .address{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 50px;
}

.socials{
  width: 100%;
  height: 20%;
  /* border: 2px solid wheat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wrapper .button{
  display: inline-block;
  height: 40px;
  width: 40px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  color: #2a2a2a;
}
.wrapper .button:nth-child(1){
  margin-left: 50px;
}
.wrapper .button:hover{
  width: 180px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background:#E1306C;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #333;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{

  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 15px;
  
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #E1306C;
}
.wrapper .button:nth-child(3) span{
  color: #333;
}

.form{
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid firebrick; */
}

.form input, .form textarea{
  width: 410px;
  border-radius: 5px;
  margin-bottom: 10px;

  color: #fff;
  background: none;
  border: 2px solid #c1c3c5;
  
}

.form h2{
  font-weight: 600;
  font-size: 50px;
  font-family: "Posterama 1927";
  margin: 0 0 30px 0 ;
  color: #4C00FF;
  /* border: 2px solid white; */
}

.form button{
  position: relative;
  align-self: flex-end;
  width: 100px;
  height: 40px;
  margin: 10px 80px 10px 10px;

  color: #4C00FF;
  font-weight: 600 ;
  font-family: Poppins;
  font-size: 13.5px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;

  background: none;
  border: 2px solid #4C00FF;
  overflow: hidden;
}

.form button::before{
  content: "";
  position: absolute;

  bottom: 0;
  border-radius: 50% 50% 0 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #4C00FF;
  z-index: -1;
  transition: 0.8s;
}

.form button:hover::before{
  height: 180%;
}
.form button:hover {
 color: #fff;
 text-decoration: none;
 scale: 1.03;
}


#placeholder::placeholder {
  color:#DEE2E6;
}





/* 
.white-anime{
    position: absolute;
    animation-name: white;
    animation-duration: 0;
    animation-delay: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99;

}

@keyframes white{
    0%{
        width: 100%;

    }
    100%{
        display: none;
    }
}

.circle{
    animation-name: top;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.8, 0.2, 0.165, 1);
    animation-direction: alternate;
    animation-fill-mode: both ;
    animation-iteration-count: 1;          
    
    position: absolute;
    width: 50px;
    height: 50px;
    left: 48%;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(to right bottom, #ffc400,#ff0017,#4b00ff);
    color: white;
   z-index: 100;
}

@keyframes top{
    0% {
      top: -10%;
      transform: scale(1);      
    }
    25%{
        top: 50%;
        transform: scale(1);
        
    }
    50%{
        transform: scale(30);
    }
    100% {
      top: 50%;
      transform: scale(0);    
    }
    
  } */

/* 
.white-anime{
    position: absolute;
    animation-name: white;
    animation-duration: 0;
    animation-delay: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99;

}

@keyframes white{
    0%{
        width: 100%;

    }
    100%{
        display: none;
    }
}

.circle{
    animation-name: top;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0.8, 0.2, 0.165, 1);
    animation-direction: alternate;
    animation-fill-mode: both ;
    animation-iteration-count: 1;          
    
    position: absolute;
    width: 50px;
    height: 50px;
    left: 48%;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(to right bottom, #ffc400,#ff0017,#4b00ff);
    color: white;
   z-index: 100;
}

@keyframes top{
    0% {
      top: -10%;
      transform: scale(1);      
    }
    25%{
        top: 50%;
        transform: scale(1);
        
    }
    50%{
        transform: scale(30);
    }
    100% {
      top: 50%;
      transform: scale(0);    
    }
    
  } */
